.color1 {
  color: #079ea6;
}
.color2 {
  color: #1e0c42;
}
.color3 {
  color: #f0077b;
}
.color4 {
  color: #f5be58;
}
.color5 {
  color: #e3e0b3;
}

/* REQUISITOS DESIGNER
    - O design deve ser moderno, limpo e profissional, refletindo a identidade visual do portfólio.
    - O design deve ser responsivo, adaptando-se a diferentes dispositivos e tamanhos de tela.
    - O design deve incluir elementos visuais que transmitam a personalidade e o estilo do projeto.
    - O design deve utilizar uma paleta de cores consistente e harmoniosa, alinhada com a identidade visual das cores.
    - O design deve incluir tipografia legível e adequada para facilitar a leitura do conteúdo.
    - O design deve incorporar elementos gráficos ou ícones relevantes para destacar as seções importantes do portfólio.
    - O design deve ser otimizado para desempenho, garantindo tempos de carregamento rápidos e uma experiência fluida para os visitantes.
    - O design deve ser acessível, considerando as necessidades de usuários com deficiências visuais ou motoras.
*/
/* COR DE TEXTO
    color: #e3e0b3; OU color: #FFFFFF;
*/

/* COR DE BOTÕES
    color: #1e0c42
*/
/* COR DE FUNDO BACKGROUND PARA DESIGNS COMPLEMENTARES
    color: #f0077b;
*/
